.node-red/flows.json
[
  {
    "id": "e61d6e4.a5a009",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2d2dd155.7354de",
    "type": "sqlitedb",
    "z": "",
    "db": "measurements"
  },
  {
    "id": "d0baf700.b07418",
    "type": "mqtt-broker",
    "z": "",
    "name": "localhost",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "dafae28e.f54d6",
    "type": "sqlite",
    "z": "e61d6e4.a5a009",
    "mydb": "2d2dd155.7354de",
    "sqlquery": "msg.topic",
    "sql":
      "insert into measurements (sensor_name, type, value)\nvalues('test sensor', 0, 10);",
    "name": "measurements",
    "x": 800,
    "y": 40,
    "wires": [[]]
  },
  {
    "id": "2f017651.fe3a4a",
    "type": "mqtt in",
    "z": "e61d6e4.a5a009",
    "name": "sensor pool",
    "topic": "sensors/#",
    "qos": "2",
    "broker": "d0baf700.b07418",
    "x": 90,
    "y": 40,
    "wires": [["7aec2df.d1cb9d4"]]
  },
  {
    "id": "7aec2df.d1cb9d4",
    "type": "function",
    "z": "e61d6e4.a5a009",
    "name": "extract sensor name, type, value",
    "func":
      "var matches = msg.topic.match('sensors/([0-9a-z-]+)\\.([a-z]+)');\n\n//var sensor_name, type, value\nif (matches && matches[0] && matches[1] && matches[2]){\n    \n    var type = matches[2];\n    \n    if (type === 'temp'){\n        type = 0;\n    } else if (type === 'humidity'){\n        type = 1;\n    } else {\n        type = -1;\n        node.error(\"unknown type\", matches[2])\n    }\n    \n    var ret = {\n        params: {\n            sensor_name: matches[1],\n            type: type,\n            value: msg.payload\n        }    \n    \n    }\n    return ret;\n}\nnode.error(\"no data found\")\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 40,
    "wires": [["9bfb5e88.4a2f9"]]
  },
  {
    "id": "9bfb5e88.4a2f9",
    "type": "function",
    "z": "e61d6e4.a5a009",
    "name": "insert",
    "func":
      "var sensor_name = msg.params.sensor_name;\nvar type = msg.params.type;\nvar value = msg.params.value;\nvar topic = \"insert into measurements (sensor_name, type, value) values('\" + sensor_name + \"', \" + type + \", \"+ value+\");\";\nreturn {\n    topic: topic,\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 40,
    "wires": [["dafae28e.f54d6"]]
  },
  {
    "id": "a6f691a6.95e74",
    "type": "http in",
    "z": "e61d6e4.a5a009",
    "name": "GET /measurements",
    "url": "/measurements",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 120,
    "wires": [["11de8960.3dfea7"]]
  },
  {
    "id": "7bcea08.e2b656",
    "type": "http response",
    "z": "e61d6e4.a5a009",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 120,
    "wires": []
  },
  {
    "id": "11de8960.3dfea7",
    "type": "sqlite",
    "z": "e61d6e4.a5a009",
    "mydb": "2d2dd155.7354de",
    "sqlquery": "fixed",
    "sql":
      "SELECT * FROM measurements where timestamp >= datetime('now', '-12 hour');",
    "name": "",
    "x": 360,
    "y": 120,
    "wires": [["7bcea08.e2b656"]]
  },
  {
    "id": "b6ebbb85.564d68",
    "type": "http in",
    "z": "e61d6e4.a5a009",
    "name": "GET /sensors",
    "url": "/sensors",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 90,
    "y": 200,
    "wires": [["c5bb4ab6.159558"]]
  },
  {
    "id": "c5bb4ab6.159558",
    "type": "sqlite",
    "z": "e61d6e4.a5a009",
    "mydb": "2d2dd155.7354de",
    "sqlquery": "fixed",
    "sql":
      "SELECT DISTINCT sensor_name, type, value, timestamp from measurements group by sensor_name, type order by timestamp desc;",
    "name": "",
    "x": 360,
    "y": 200,
    "wires": [["de66f153.2f73b"]]
  },
  {
    "id": "de66f153.2f73b",
    "type": "http response",
    "z": "e61d6e4.a5a009",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 200,
    "wires": []
  }
]
